{% extends 'base.html.twig' %}

{% block title %} Détail | {{ parent() }}{% endblock %}

{% block central %}
<h1>{{ wishes.title }}</h1>

    <li>{{ wishes.description}}</li>
    <li>{{ wishes.author}}</li>
    <li>{{ wishes.dateCreated|date("m/d/Y H:i:s") }}</li>

    <br><br><br>
{% endblock %}